@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.portfolio-container {
  height: 1472px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  gap: 50px;
  background-color: #ffffff;
}

.portfolio-and-project-card {
  height: 1174px;
  gap: 70px;
}

.frame-286 {
  height: 128px;
  justify-content: space-between;
  padding-right: 200px;
  padding-left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: work sans;
  font-size: 48px;
  font-weight: 600;
  color: #132238;
  width: 205px;
  height: 56px;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

.sub-heading {
  color: #87909d;
  font-weight: 400;
  font-family: work sans;
  font-size: 18px;
  width: 677px;
  height: 48px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding-left: 100px;
  align-items: center;
}

.more-project-btn {
  width: 149px;
  height: 48px;
  border-radius: 4px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  gap: 12px;
  background-color: #a53dff;
  color: #ffffff;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-self: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.more-project-btn:hover {
  border-radius: 4px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  gap: 12px;
  background-color: #a53dff;
  color: #ffffff;
  border: none;
}

.more-project {
  padding-top: 60px;
  padding-left: 250px;
}
