@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Work+Sans:ital;wght@0;100..900;1;100..900&display=swap");

.project-idea-container {
  width: auto;
  background-color: #132238;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 32px;
  justify-content: center;
}

.heading {
  width: 621px;
  color: #ffffff;
  font-family: work sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  letter-spacing: 0%;
  text-align: center;
  place-self: center;
}

.sub-heading {
  width: 581px;
  color: #a5acb5;
  font-family: work sans;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 32px;
  place-self: center;
}

.project-idea-btn {
  place-self: center;
  padding-top: 18px;
}

.btn-primary {
  width: 240px;
  height: 48px;
  color: #ffffff;
  background-color: #a53dff;
  border-radius: 4px;
  gap: 12px;
  font-family: work sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  letter-spacing: 0%;
  border: none;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #a53dff;
  padding: 0%;
  border: none;
}

.btn-primary:hover:active {
  color: #ffffff;
  background-color: #a53dff;
}
