@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-process-border{
    background-color: #F0F1F3;
    width: 1920px;
    height: 988px;
    padding: 248px 300px 140px 300px;
    gap: 10px;
}
.work-process-component{
    width: 1320px;
    height: 600px;
    gap: 143px;
    display: flex;
    flex-direction: row;
}
.work-process-component-1{
    width: 529px;
    height: 240px;
    gap: 24px;
    
}
.work-process-component-1-title{
    width: 323px;
    height: 56px;
    font-family:"Work Sans";
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
}
.work-process-component-1-description{
    width: 529px;
    height: 160px;
    gap: 16px;
}
.work-process-component-1-description>p:first-child{
    height: 96px;
    font-family:"Work Sans";
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0%;
    color:#697484;

}
.work-process-component-1-description>p:last-child{
    height: 48px;
    font-family:"Work Sans";
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0%;
    color:#87909D;
}
.work-process-component-2{
    width: 648px;
    height: 600px; 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;     
}
.work-process-component-2 > div{
    width: 312px;
    height: 276px;
    background-color: #FFFFFF;   
    border-radius: 12px;
    padding: 32px;
    box-sizing: border-box; 
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);    
}

.work-process-component-2>.work-process-component-2-2{
    margin-top: 24px;
    
}

.work-process-component-2>.work-process-component-2-4{
    margin-top: 24px;
    
}


.work-process-component-2 > div > img{
    width: 72px;
}
.work-process-component-2 > div .details{
    width: 248px;
    height: 108px;
    gap: 12px;
}
.work-process-component-2 > div .details h1{
    width: 111px;
    height: 24px;
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.work-process-component-2>div>.details>p{
    width: 248px;
    height: 72px;
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


